body, p {
	font-family: 'Roboto', sans-serif;
}

.single-post {
	width: 100%;
	background-color: white;
	margin-bottom: 2%;
	position: relative;
}

.single-post img {
	max-width: 100%;
}

.profile-photo {
	width: 15%;
	float: left;
	margin: 1%;
	/*make it so all profile images are square but not stretched*/
	max-height: 50px;
	max-width: 50px;
	overflow: hidden;
}

.profile-photo img {
	width: 100%;
}

.single-post-info {
	float: left;
	width: 82%;
}

.single-post-content {
	clear: both;
	width: 100%;
}



.username {
	font-size: 0.9em!important;
	font-weight: normal!important;
	margin-bottom: 0!important;
}

.title {
	font-size: 1em!important;
	margin-top: 0!important;
}

.comments {
	font-size: 0.8em!important;
	margin: 0!important;
	float: left;
}

.single-post a {
	color: black!important;
	text-decoration: none !important;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}

#home-logo img{
	display: block;
	margin: 0% auto 5% auto;
	width: 60%;
	max-width: 411px;
}

.login-form {
	width: 90%;
	margin: 0 auto;
}

#page-logo {
	width: 40%;
	max-width: 411px;
	margin: 0 auto;
	padding: 3%;
}

#page-logo img {
	width: 100%;
	max-width: 411px;
}

/*login page*/
#center-login {
	position: fixed!important;
	top: 50%!important;
	left: 50%!important;
	transform: translate(-50%, -50%)!important;
	width: 80%;
}

/*comments on selected thread*/
.comment-profile {
	width: 15%;
	float: left;
	/*make it so all profile images are square but not stretched*/
	max-height: 50px;
	max-width: 50px;
	overflow: hidden;
}

.comment-profile img {
	width: 100%;
}

.comment-text {
	float: left;
	width: 82%;
	margin-left: 1%;
}

.edit-delete {
	position: absolute;
	right: 10px;
	top: 10px
}

/*user profile page*/
.user-profile {
	margin: 0 auto;
	text-align: center;
	font-size: 2em;
}

.user-profile img {
	max-height: 130px;
	max-width: 130px;
}

.small {
	font-size: 0.8em;
}

a {
	font-weight: normal!important;
}

.view-all{
	float: right;
	font-size: 0.8em;
	margin: 0!important;
}